﻿@page
@model Exam12019.Pages.Auth.LoginPageModel
@{
}

<div>
    <form method="post">
        <div>
            <label asp-for="FormUser.Username">Username: </label>
            <input asp-for="FormUser.Username" />
        </div>
        <div>
            <label asp-for="FormUser.Password">Password: </label>
            <input type="password" asp-for="FormUser.Password" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            @*@Model.ErrorMessage*@
        </div>
    </form>
</div>