﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <a href="@Url.Page("./ReservationViews/ReservationPage")">Make Reservation</a>
    <br />
    <a href="@Url.Page("./ReservationViews/ShowReservationPage")">Show Reservation</a>
    <br />
    <br />
    <br />
    <br />
    <a href="@Url.Page("./Auth/LoginPage")">Log in</a>


</div>
