﻿@page
@model Exam12019.Pages.ReservationViews.ReservationPageModel
@{
}

<a href="@Url.Page("/Index")">Back To Main Page</a>

<form method="post">
    <div>
        <label asp-for="ReservationForm.Name"></label>
        <input asp-for="ReservationForm.Name" />
        <span asp-validation-for="ReservationForm.Name"></span>
    </div>
    <div>
        <label asp-for="ReservationForm.Email"></label>
        <input asp-for="ReservationForm.Email" />
        <span asp-validation-for="ReservationForm.Email"></span>
    </div>
    <div>
        <label asp-for="ReservationForm.ReservationTime"></label>
        <input asp-for="ReservationForm.ReservationTime" />
        <span asp-validation-for="ReservationForm.ReservationTime"></span>
    </div>
    <div>
        <label asp-for="ReservationForm.RestaurantName"></label>
        <select asp-for="ReservationForm.RestaurantName" asp-items="ReservationPageModel.RestaurantNames"></select>
        <span asp-validation-for="ReservationForm.RestaurantName"></span>
    </div>

    <div>
        <button type="submit">Add New Restaurant</button>
    </div>
</form>

<div>
    @Model.Message
</div>