﻿@page
@model Exam12019.Pages.ReservationViews.ShowReservationPageModel
@{
}

<a href="@Url.Page("/Index")">Back To Main Page</a>

<form method="post">
    <div>
        <label asp-for="@Model.IDReservasi"></label>
        <input asp-for="@Model.IDReservasi" />
        <span asp-validation-for="@Model.IDReservasi"></span>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>


@if (Model.Reservasi != null)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Restaurant Name</th>
                    <th>Restaurant Address</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.Reservasi.Name</td>
                    <td>@Model.Reservasi.Email</td>
                    <td>@Model.Reservasi.RestaurantName</td>
                    <td>@Model.Reservasi.Name</td>
                </tr>
            </tbody>
        </table>
    </div>
}
