﻿@page
@model Exam12019.Pages.RestaurantViews.DeleteRestaurantModel
@{
}

<h1>Confirm Delete Product</h1>

<form method="post">
    <p>Apakah anda yakin untuk hapus @Model.Name </p>
    <button type="submit">Ya</button>
</form>