﻿@page
@model Exam12019.Pages.RestaurantViews.EditRestaurantModel
@{
}

<a href="@Url.Page("/RestaurantViews/ViewAllRestaurant")">back</a>

<form method="post">

    <div>
        <label asp-for="RestaurantForm.Name"></label>
        <input asp-for="RestaurantForm.Name" />
        <span asp-validation-for="RestaurantForm.Name"></span>
    </div>
    <div>
        <label asp-for="RestaurantForm.Address"></label>
        <input asp-for="RestaurantForm.Address" />
        <span asp-validation-for="RestaurantForm.Address"></span>
    </div>

    <div>
        <button type="submit">Edit Restaurant</button>
    </div>

</form>
