﻿@page
@model Exam12019.Pages.RestaurantViews.ViewAllRestaurantModel
@{
}
<a href="@Url.Page("/ReservationViews/ReservationPage")">Make Reservation</a>
<br />
<a href="@Url.Page("/ReservationViews/ShowReservationPage")">Show Reservation</a>
<br />
<a href="@Url.Page("/RestaurantViews/AddNewRestaurant")">Add New Restaurant</a>
<br />
<a href="@Url.Page("/Auth/LogoutPage")">Logout</a>

<table>
    <thead>
        <tr>
            <th>Restaurant ID</th>
            <th>Name</th>
            <th>Update & Delete Links</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var restaurant in Model.AllRestaurants)
        {
            <tr>
                <td>@restaurant.RestaurantID</td>
                <td>@restaurant.Name</td>
                <td>
                    <div>
                        <a href="@Url.Page("/RestaurantViews/EditRestaurant", new { ID = restaurant.RestaurantID })">Update Restaurant</a>
                    </div>
                    <div>
                        <a href="@Url.Page("/RestaurantViews/DeleteRestaurant", new { ID = restaurant.RestaurantID })">Delete Restaurant</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
